body {
    font-family: Roboto, sans-serif;
}

ul {
    display: flex;
    font-size: 18px;
    gap: 32px;
    color: #E5E7EB;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 8px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8
}