@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

body {
    font-family: Roboto, sans-serif;
    padding: 0px;
    margin: 0px;
}

ul {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a, p {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 0px 16px 0px;
    font-weight: 300;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    margin: 0px;
    font-weight: 900;
    text-align: center;
}

h3 {
    color: #F9FAF8;
    margin: 0px;
    font-size: 24px;
    font-weight: 500;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
}

.top {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding: 16px 8px;
    margin: auto;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8
}

.hero {
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 100px 0px;
}

.image {
    width: 175px;
    height: 175px;
    border: 4px solid #3882F6;
    border-radius: 16px;
    box-sizing: border-box;
}

.tile-block {
    display: flex;
    padding: 50px 0px;
    gap: 50px;
    justify-content: center;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
}

.middle {
    padding: 50px;
}

.caption {
    color: #1F2937;
    text-align: center;
}

.quote-block {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
    align-items: center;
}

.quote, .author {
    color:#1F2937;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 800px;
    margin: 0px;
}

.author {
    font-size: 24px;
    font-weight: 700;
    width: 800px;
    text-align: right;
    padding-right: 32px;
}

.calltoaction {
    padding: 100px 0px;
}

.cta-block {
    background-color: #3882F6;
    max-width: 1000px;
    padding: 40px 110px;
    border-radius: 12px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text {
    color: #E5E7EB;
}

.cta-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    padding: 8px 32px;
}
